NODE_ENV="development" # set to production in HTTPS production environment to use Secure cookies
DATABASE_URL="" # url to connect to PostgreSQL database
RESEND_API_KEY="" # Resend API key for sending 2FA emails
PEPPER="" # random string used to pepper passwords before hashing
2FA_SECRET="" # random string for hashing 2FA email codes