DATABASE_URL="" # url to connect to PostgreSQL database
RESEND_API_KEY= # Resend API key for sending 2FA emails
PEPPER= # random string used to pepper passwords before hashing
SESSION_SECRET= # random string used to sign session cookies
